/* @import url('https://fonts.googleapis.com/css2?family=Momo+Trust+Display&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap'); */
@import "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;



body{
  background-color:  #040D26;
  /* background: linear-gradient(90deg, rgba(189, 36, 223, 0.1),rgba(45, 106, 222, 0.1) 97.15%); */
  height: 100vh;
  /* background: linear-gradient(90deg, rgba(189, 36, 223, 0.5), rgba(45, 106, 222, 0.5) 97.15%); */
  
}
html {
  scroll-behavior: smooth;
}
