
body{
   background-color: #040D26;
    height: 100vh;
}
.nav{
  display: inline;
   width: 100%;
  padding: 14px 6px;
  font-size: 14px;
  /* text-transform: capitalize; */
 
  /* font-weight: bold; */
  color: #ffff;
}
.wallet{
    background: url('../../public/images/simple/arrow-bg.png');
    /* height: 400px; */
}

.faq{
    background: url('../../public/images/faq/faq.svg');
    background-repeat: no-repeat;
    background-position: right center;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.nav:hover{
 text-decoration:underline ;
 text-underline-offset: 6px;
 /* padding: 45px 0px; */
 /* text-decoration-line: underline; */
}
/* @keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

.animate-slide {
  display: flex;
  width: max-content;
  animation: slide 18s linear infinite;
} */
