*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(90deg,
    #040D26,
    #2d6ade80 97.15%);
}
.table{
  /* background: linear-gradient(90deg,
    rgba(189, 36, 223, 0.7),
    rgba(45, 106, 222, 0.3) 97.15%);  */

}



